/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container {

}

.container > h1 {
    text-align: center;
    font-size: 30px;
}
.container > form {
    width: 80%;
    margin: 30px auto;
    height: auto;

}
.container > form  > textarea {
   width: 100%;
   height: 300px;
   margin: 20px auto;
   min-height: 300px;
   max-height: 300px;
   overflow-y: scroll;
   min-width: 100%;
   max-width: 100%;
   padding-left: 20px;
   padding-top: 10px;
   font-size: 25px;
   outline: none;
}

#myProgress {
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: 20px auto ;
    /* display: none ; 
}


#myBar {
    width: 0%;
    height: 30px;
    background-color: green;
} */


.navbar-nav{
    width: 100%;
}

@media(min-width:568px){
    .end{
        margin-left: auto;
    }
}

@media(max-width:768px){
    #post{
        width: 100%;
    }
}


#post{
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}




.post{
    width: 100%;
    margin: 20px auto;
}


h1,h2{
    color: white;
    font-weight: bold;
}
label{
    color: rgb(212, 208, 208);
}

#align-form{
    margin-top: 20px;
}
.form-group p a{
    color: white;
}


.form-group textarea{
    background-color: black;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px;
    color: white;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
}

form{
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
   
 }